node_modules/**',
      'src/**',
      'test/**',
      'typings/**',
      'typings-custom/**',
      'typings-custom2/**',
      'typings-custom3/**',
      'typings-custom4/**',
      'typings-custom5/**',
      'typings-custom6/**',
      'typings-custom7/**',
      'typings-custom8/**',
      'typings-custom9/**',
      'typings-custom10/**',
      'typings-custom11/**',
      'typings-custom12/**',
      'typings-custom13/**',
      'typings-custom14/**',
      'typings-custom15/**',
      'typings-custom16/**',
      'typings-custom17/**',
      'typings-custom18/**',
      'typings-custom19/**',
      'typings-custom20/**',
      'typings-custom21/**',
      'typings-custom22/**',
      'typings-custom23/**',
      'typings-custom24/**',
      'typings-custom25/**',
      'typings-custom26/**',
      'typings-custom27/**',
      'typings-custom28/**',
      'typings-custom29/**',
      'typings-custom30/**',
      'typings-custom31/**',
      'typings-custom32/**',
      'typings-custom33/**',
      'typings-custom34/**',
      'typings-custom35/**',
      'typings-custom36/**',
      'typings-custom37/**',
      'typings-custom38/**',
      'typings-custom39/**',
      'typings-custom40/**',
      'typings-custom41/**',
      'typings-custom42/**',
      'typings-custom43/**',
      'typings-custom44/**',
      'typings-custom45/**',
      'typings-custom46/**',
      'typings-custom47/**',
      'typings-custom48/**',
      'typings-custom49/**',
      'typings-custom50/**',
      'typings-custom51/**',
      'typings-custom52/**',
      'typings-custom53/**',
      'typings-custom54/**',
      'typings-custom55/**',
      'typings-custom56/**',
      'typings-custom57/**',
      'typings-custom58/**',
      'typings-custom59/**',
      'typings-custom60/**',
      'typings-custom61/**',
      'typings-custom62/**',
      'typings-custom63/**',
      'typings-custom64/**',
      'typings-custom65/**',
      'typings-custom66/**',
      'typings-custom67/**',
      'typings-custom68/**',
      'typings-custom69/**',